
<p-progressSpinner class="progress" *ngIf="carregar"></p-progressSpinner>
<div class="card" *ngIf="!carregar && !pesquisaCar">
    <form [formGroup]="form" #fr="ngForm">

        <app-crud [form]="fr" titulo="Notas" [api]="service">
            <div fxLayout="column" fxLayoutGap="16px">

                <div fxLayout="row" fxLayoutGap="16px">
                    <div class="alunoDrop">
                        <p-dropdown class="alunoDrop" formControlName="id_Aluno" [options]="listaAlunos"
                            (onChange)="buscarBimestrePorAluno($event.value)"
                            placeholder="Selecione o Aluno" optionLabel="nome" optionValue="id" [showClear]="true"
                            aria-describedby="aluno">
                        </p-dropdown>
                        <small id="aluno" class="p-invalid">{{id_aluno!.errors | erro}}</small>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="16px">
                    <div class="alunoDrop">
                        <p-dropdown class="alunoDrop" formControlName="id_Bimestre" [options]="listaBimestre"
                            (onChange)="buscarAvaliacao($event.value)"
                            placeholder="Selecione o Bimestre Correspondente" optionLabel="desc_bimestre" optionValue="id" [showClear]="true"
                            aria-describedby="bimestre">
                        </p-dropdown>
                        <small id="bimestre" class="p-invalid">{{id_bimestre!.errors | erro}}</small>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="22px">
                    <div class="alunoDrop">
                        <p-dropdown class="alunoDrop" formControlName="id_Avaliacao" [options]="listaAvaliacao"
                            placeholder="Selecione a Avaliação" optionLabel="descricao" optionValue="id" [showClear]="true"
                            aria-describedby="avaliacao">
                        </p-dropdown>
                        <small id="avaliacao" class="p-invalid">{{id_avaliacao!.errors | erro}}</small>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="22px">
                    <div class="p-field p-fluid">
                        <span class="p-float-label">
                            <input id="float-nota" class="p-invalid" aria-describedby="nota" type="number" pInputText
                                formControlName="nota">
                            <label for="float-nota">Nota</label>
                            <small id="nota" class="p-invalid">{{nota!.errors | erro}}</small>
                        </span>
                    </div>
                </div>

            </div>
        </app-crud>
    </form>
</div>