<p-progressSpinner class="progress" *ngIf="carregar"></p-progressSpinner>
<div class="card" *ngIf="!carregar"> 
    <p-card header="Importar Alunos" styleClass="p-card-shadow">
        <p-progressBar mode="indeterminate" *ngIf="validProgress"></p-progressBar>
        <p-fileUpload name="alunos" customUpload="true" (uploadHandler)="onFileUpload($event)" (onUpload)="onUpload($event)"
                 accept=".json" maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
        </p-fileUpload>
    </p-card>    
</div>    