<p-progressSpinner class="progress" *ngIf="carregar"></p-progressSpinner>
<div class="card" *ngIf="!carregar">
    <p-table #table dataKey="id" [lazy]="true" [showCurrentPageReport]="true" (onLazyLoad)="loadPage($event)"
        [paginator]="true" [rows]="5" [totalRecords]="totalRecords" [loading]="loading" styleClass="p-datatable-sm "
        [columns]="colunas" [value]="dataSource" responsiveLayout="scroll"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [globalFilterFields]="['id','nome']">
        <ng-template pTemplate="caption" *ngIf=visuInfo>
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (keypress)="pesquisaFilters($event)" 
                    [(ngModel)]="pesquisa" [ngModelOptions]="{standalone: true}" placeholder="Digite ID ou Nome" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]=[col.nome]>
                    {{col.label}}
                    <p-columnFilter type="text" field={{col.nome}} display="menu" *ngIf=visuInfo></p-columnFilter>
                </th>
                <th>
                    Ações
                </th>
                <th *ngIf=visuInfo>
                    Informações
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataSource let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{dataSource[col.nome]}}
                </td>
                <td>
                    <p-button icon="pi pi-pencil" styleClass="p-button-success" [style]="{'margin-right': '.5em'}"
                        (click)="editar(dataSource.id)"></p-button>
                </td>
                <td>
                    <p-button icon="pi pi-info-circle" styleClass="p-button-help" *ngIf=visuInfo
                        (click)="showModalDialog(dataSource)"></p-button>
                </td>
            </tr>
        </ng-template>


    </p-table>
</div>
<button pButton pRipple type="button" (click)="cadastrar()" icon="pi pi-plus"
    class="p-button-rounded p-button-help"></button>


<p-dialog header="Detalhes" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-panel header={{nome}}>
        <p>
            <b>Código Aluno :</b> {{id}}
        </p>
        <p>
            <b>Nome Aluno :</b> {{nome}}
        </p>
        <p>
            <b>Data Nascimento :</b> {{dt_nasc}}
        </p>
        <p>
            <b>Nome da Mãe :</b> {{nm_mae}}
        </p>
        <p>
            <b>Nome do Pai :</b> {{nm_pai}}
        </p>
        <p>
            <b>Matricula :</b> {{matricula}}
        </p>
        <p>
            <b>RG :</b> {{rg_aluno}}
        </p>
        <p>
            <b>CPF :</b> {{cpf}}
        </p>

    </p-panel>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" class="p-button-text"></p-button>
    </ng-template>
</p-dialog>