<p-progressSpinner class="progress" *ngIf="carregar"></p-progressSpinner>
<div class="card" *ngIf="!carregar && !pesquisaCar">
    <form [formGroup]="form" #fr="ngForm">

        <app-crud [form]="fr" titulo="Bimestre" [api]="service">
            <div fxLayout="column" fxLayoutGap="16px">

                <div fxLayout="row" fxLayoutGap="16px">
                    <div class="bimestreDrop">
                        <p-dropdown class="bimestreDrop" formControlName="bimestre" [options]="dropBimestre"
                            (onChange)="validaBimestre($event.value)"
                            placeholder="Selecione o Bimestre" optionLabel="bimestre" optionValue="id"
                            [showClear]="true" aria-describedby="bimestre">
                        </p-dropdown>
                        <small id="bimestre" class="p-invalid">{{bimestre!.errors | erro}}</small>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="16px">
                    <div class="p-field p-fluid">
                        <span class="p-float-label">
                            <input id="float-ano" class="p-invalid" aria-describedby="faltas" type="number" pInputText
                                (focusout)="validaAno()" formControlName="ano">
                            <label for="float-ano">Ano</label>
                            <small id="ano" class="p-invalid">{{ano!.errors | erro}}</small>
                        </span>
                    </div>
                    <div class="p-field p-fluid">
                        <span class="p-float-label">
                            <input id="float-faltas" type="number" class="p-invalid" aria-describedby="faltas"
                                pInputText formControlName="faltas">
                            <label for="float-faltas">Faltas</label>
                            <small id="faltas" class="p-invalid">{{faltas!.errors | erro}}</small>
                        </span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="22px">
                    <p-autoComplete formControlName="id_Aluno" [suggestions]="listaFiltradaAlunos"
                    placeholder="Selecione o Aluno" (completeMethod)="filtroAlunos($event)" field="nome" dataKey="id" minLength="2"></p-autoComplete>
                        
                    <div class="alunoDrop">
                        
                         <p-dropdown class="alunoDrop" formControlName="id_Aluno" [options]="listaAlunos"
                           (onChange)="validaAluno($event.value)"
                            placeholder="Selecione o Aluno" optionLabel="nome" optionValue="id" [showClear]="true"
                            aria-describedby="aluno">
                        </p-dropdown>
                        <small id="aluno" class="p-invalid">{{id_Aluno!.errors | erro}}</small>
                    </div>

                </div>

            </div>
        </app-crud>
    </form>
</div>